



/* About Page Styles */
.card-body {
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.card-img-top {
  border-radius: 10px;
  height: 300px;
  object-fit: cover;
}

h1, h2 {
  font-family: 'Arial', sans-serif;
  color: #333;
}

p {
  font-family: 'Georgia', serif;
  font-size: 1.1em;
  color: #555;
}

.agu-display{
  font-family: "Agu Display", serif;
}